@import 'src/App.scss';

.navbar {
  &__brand {
    align-items: center;
    justify-content: center;
    display: flex;

    &__logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 7%;
    }

    &__text {
      color: $primary5;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__link {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  &__menu-icon {
    color: white;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    color: rgb(219, 231, 240);

    &__separator {
      color: rgb(219, 231, 240);
      font-size: 18px;
      font-weight: 500;
    }

    &__link {
      color: rgb(219, 231, 240);
      font-size: 18px;
      font-weight: 500;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    &__text {
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
