@import 'src/App.scss';

.footer {
  height: 100%;
  margin-top: 3%;

  &__left {
    &__text {
      color: $primary5;
      text-align: left;
    }
  }

  &__right {
    &__icon {
      color: $primary5;
    }
  }
}
