@import 'src/App.scss';

.module-review-accordion {
  &__section {
    padding: 2% 3%;

    &__title {
      padding-bottom: 1%;
      text-align: start;
    }

    &__score {
      padding-bottom: 0.5%;
    }

    &__text {
      text-align: start;
    }
  }
}
